html,
body {
    padding: 0px calc(((100% - 1000px) / 2));
    margin: 0px;
}

* {
  box-sizing: border-box;
}

td img {
    width: 1rem;
    height: 1rem;
}

#user-photo {
    width: 3rem;
    height: 3rem;
}


#container {
    padding: 20px;
}

#menu {
    display: flex;
    column-gap: 20px;
    margin: 150px 0px 50px 0px;
}

@media (max-width: 1000px) {
  #menu {
    margin: 0px 0px 20px 0px;
    /* margin-bottom: 0px; */
  }
}



.menu-item {
    text-decoration: none;
}

.menu-item.grey {
    color: grey;
}



.content-pane {
    background-color: rgb(227, 220, 192);
    padding: 50px;
    border-radius: 10px;
}

/* .playlist-item.include {
    background-color: black;
    color: white;
}

.tag {
    padding: 8px;
    margin: 3px;
    border-radius: 5px;
    display: inline-block;
} */