html,
body {
    height: 100%;
    width: 100%;
}

#container {
    display: grid;
    grid-template-areas:
        "menu menu"
        "playlists tracks";
}

td img {
    width: 1rem;
    height: 1rem;
}