#playlists-content {
  padding: 200px;  
}

#playlists:not(.show) {
  display: none;  
}

#playlists:not(.show) {
  display: none;  
}

#playlists-content:has(#playlists:not(.show)) > #collapse-playlists::before {
    content: '▼ ';
}

#playlists-content:has(#playlists.show) > #collapse-playlists::before {
    content: '▲ ';
}

.track:not(.show) {
    /* color: rgb(202, 202, 202); */
    display: none;
}

.playlist {
    color: black;
    margin: 5px;
    background-color: grey;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
}

.playlist.included {    
    color: white;
    background-color: black;
}



#refresh-popup {
    position: fixed;
    left: 25%;
    transform: translateX(-50%);
    width: 50%;
    height: 40px;
    text-align: center;
    padding: 1rem;
    color: white;
    border-radius: 100px;
    background-color: rgb(40, 40, 40);
}

#refresh-popup:not(.show) {
    top: -100px;
    transition: top 10s;
}

#refresh-popup.show {
    top: 20px;
    transition: top 0.25s;
}