 @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

 body,
 * {
     font-family: "Figtree", sans-serif;
     /* background-color: rgb(20, 20, 20); */
     /* box-sizing: border-box; */
     padding: 0px;
     margin: 0px;
 }

 #login-redirect {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 50px;
    background-color: rgb(190, 190, 190);
    box-shadow: black 0px 8px 0px -1px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    font-size: 3rem;
 }

 #login-redirect > img {
    height: 3rem;
    width: 3rem;
    transform: translateY(8px);
 }

 #container {
     display: flex;
     /* align-items: flex-start; */
     /* padding: 200px;  */
     /* background-color:aqua; */

     height: 100vh;
     padding: 20px;
     box-sizing: border-box;
 }

 #menu {
     width: 300px;
     min-width: 300px;
     padding: 40px;
     height: 100%;
     box-sizing: border-box;

     display: flex;
     flex-direction: column;
     /* background-color:bisque; */
 }

 .menu-header {
     font-size: 2rem;
     margin-bottom: 40px;
 }

 .menu-item {
     font-size: 1.2rem;
     padding: 10px;
     margin-left: -10px;
 }

 .menu-item.active {
     border-left: black 4px solid;
     margin-left: -14px;
 }

 .menu-footer {
     margin-top: auto;
 }

 .menu-footer>a {
     color: grey;
     font-size: 1.2rem;
     padding: 10px;
     display: block;
     text-decoration: none;
 }

 #content {
     flex-grow: 1;
 }

 .content-tab {
     /* margin: 20px; */
     background-color: rgb(238, 238, 238);
     border-radius: 10px;
     /* flex-grow: 1; */

     padding: 40px;
     height: 100%;
     box-sizing: border-box;

     overflow-y: auto;
 }

 .content-tab:not(.show) {
     display: none;
 }

 #playlist-table {
     width: 100%;
 }

 .playlist>td {
     padding: 10px;
 }

 .playlist.selected>td {
     background-color: black;
     color: white;
 }

 .content-tab>h1 {
     margin-bottom: 40px;
 }

 #tracks-table {
     border-collapse: separate;
     border-spacing: 15px 10px;
 }

 #popup {
     padding: 20px;
     border-radius: 8px;
     background-color: rgb(204, 204, 204);
     margin-bottom: 10px;
     height: 200px;
     overflow-y: auto;
 }

 #popup:not(.show) {
     display: none;
 }

 .tag {
     padding: 5px;
     margin: 3px;
     border-radius: 5px;
     display: inline-block;
 }

 #loadingPopup {
     position: fixed;
     top: 30px;
     left: 50%;
     transform: translateX(-50%);
     z-index: 9999;
     border-radius: 100px;
     background-color: cadetblue;
     padding: 20px;

 }

 #loadingPopup:not(.show) {
     display: none;
 }

 /* 
.content-tab {
  min-width: 100%;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} */

 /*
.tab-content {
    padding: 450px;
}

#playlists-content, #tracks-content {
    color: white;
}

#playlists-content > table, #tracks-table-container > table {
    border-collapse: separate;
    color: white;
    width: 100%;
    table-layout: fixed;
    font-size: 1.2rem;
}

#playlists-content > table th:nth-child(3),
#playlists-content > table td:nth-child(3) {
    width: 200px;
    color: grey;
    text-align: right;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#playlists-content > table th:nth-child(1),
#playlists-content > table td:nth-child(1) {
    width: 20px;
}






#tracks-table-container > table th:nth-child(3),
#tracks-table-container > table td:nth-child(3) {
    color: grey;
    float: right;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tracks-table-container > table th:nth-child(2),
#tracks-table-container > table td:nth-child(2) {
    width: 250px;;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tracks-table-container > table th:nth-child(1),
#tracks-table-container > table td:nth-child(1) {
    width: 150px;
    color: grey;
    text-align: right;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.tab {
    background-color: rgb(245, 245, 245);
    width: 50%;
    float: left;
}

#content-container {
    width: 50%;
  float: left;
    background-color: blanchedalmond;
}

@media (max-width: 620px) {
    .tab, #content-container {
        width: 100%;
    }
}

.tab-item {
    float: left;
    padding: 10px 10px;
}

.tab-item.active {
    background-color: #ffffff;
    box-shadow: rgb(165, 165, 165) 0px 2px 5px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

#search-bar {
    width: 50%;
    height: 20%;
    padding: 0px;
    position: fixed;
    border-radius: 10px;
    top: 20px; 
    background-color: rgb(212, 212, 212);
    padding: 10px;
    z-index: -9999;
    left: 50%; 
    transform: translateX(-50%);
    color: black;
}

.tag {
    padding: 10px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 5px;
    color: black;
} */