@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body,
html,
* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Figtree", sans-serif;
    background-color: #181818;
}

#container {
    /* padding: 200px; */
    padding: 20%;
    display: flex;
    align-items: flex-start;
}

#menu-container {
    /* flex-basis: 350px; */
    width: 300px;
    flex: 0 0 300px;

    margin: 0px 20px 20px 20px;
    box-shadow: rgb(16, 16, 17) 0px 5px 20px 0px;
    /* height: 0px; */
}

.content-panel {
    /* flex-grow: 1; */
    flex: 1;
    /* take remaining space */
    min-width: 0;
    /* IMPORTANT: enables wrapping in flexbox */
    word-wrap: break-word;
    /* allow long words to wrap */
    overflow-wrap: anywhere;
    /* even better wrapping support */

    color: white;
    /* padding: 20px; */
    overflow: hidden;
}

.menu-item {
    color: white;
    text-decoration: none;
    /* color: white; */
    display: block;
    padding: 20px;
    border-radius: 8px;
}

.menu-item.selected {
    background-color: #313131;
}

#menu:not(.open) .menu-item:not(.selected) {
    display: none;
}

#menu.open .menu-item .sub-menu-item {
    display: none;
}

#menu.open .menu-item {
    border-radius: 0px;
}

#menu.open .menu-item:first-child {
    border-radius: 8px 8px 0px 0px;
}

#menu.open .menu-item:last-child {
    border-radius: 0px 0px 8px 8px;
}

@media (max-width: 1000px) or (max-height: 700px) {

    /* Reset sidebar position */
    #menu-container {
        position: sticky;
        width: 100%;
        top: 20px;
        margin: 0px 0px 20px 0px;
        /* height: auto; */
    }

    /* Reset display type and remove padding */
    #container {
        display: block;
        padding: 20px;
    }
}


#content-playlists > table, #tracks-table-container > table {
    border-collapse: separate;
    color: white;
    width: 100%;
    table-layout: fixed;
    font-size: 1.2rem;
}

#content-playlists > table th:nth-child(3),
#content-playlists > table td:nth-child(3) {
    width: 200px;
    color: grey;
    text-align: right;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#content-playlists > table th:nth-child(1),
#content-playlists > table td:nth-child(1) {
    width: 20px;
}


#content-playlists > table th:nth-child(2),
#content-playlists > table td:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

