@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Figtree", sans-serif;
}

/* #playlists-content {
    padding: 200px;
}

#playlists:not(.show) {
    display: none;
}

#playlists:not(.show) {
    display: none;
}

#playlists-content:has(#playlists:not(.show))>#collapse-playlists::before {
    content: '▼ ';
}

#playlists-content:has(#playlists.show)>#collapse-playlists::before {
    content: '▲ ';
}

.track:not(.show) {
     color: rgb(202, 202, 202); 
    opacity: 20%;
}

#tracks {
    padding: 150px;
    columns: 3;
}

.playlist {
    color: black;
    margin: 5px;
    background-color: grey;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
}

.playlist.included {
    color: white;
    background-color: black;
}





#collapse-playlists {
    right: 20px;
}

#play {
    left: 130px;
    text-decoration: none;
}

#logout {    
    left: 20px;
    text-decoration: none;
}

#refresh-popup {
    left: 50%;
    transform: translateX(-50%);
}

#refresh-popup:not(.show) {
  display: none;
} */

.floating {
    position: fixed;
    color: rgb(71, 71, 71);
    padding: 15px;
    border-radius: 50px;
}

.topbar {
    top: 20px;
    box-shadow: rgb(116, 116, 116) 0px 2px 5px;
    text-transform: uppercase;
    cursor:pointer;
}


.tab {
  /* overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1; */
    position: fixed;
    /* padding: 5px; */
    border-radius: 8px;
    top: 20px;
    background-color: blue;
    left: 50%;
    transform: translateX(-50%);
}

/* Style the buttons inside the tab */
.tab > div {
    /* font-size: 10px; */
    height: 100%;
  float: left;
  /* border: none; */
  /* outline: none; */
  padding: 0px 0px;
}

.tab > div > button {
    height: 100%;
}
/* Create an active/current tablink class */
/* .tab button.active {
  background-color: #ccc;
} */

/* Style the tab content */
/* .tab-content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} */