@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Figtree", sans-serif;
}

#playlists-content {
    padding: 200px;
}

#playlists:not(.show) {
    display: none;
}

#playlists:not(.show) {
    display: none;
}

#playlists-content:has(#playlists:not(.show))>#collapse-playlists::before {
    content: '▼ ';
}

#playlists-content:has(#playlists.show)>#collapse-playlists::before {
    content: '▲ ';
}

.track:not(.show) {
    /* color: rgb(202, 202, 202); */
    opacity: 20%;
}

#tracks {
    padding: 150px;
    columns: 3;
}

.playlist {
    color: black;
    margin: 5px;
    background-color: grey;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
}

.playlist.included {
    color: white;
    background-color: black;
}





#collapse-playlists {
    right: 20px;
}

#play {
    left: 130px;
    text-decoration: none;
}

#logout {    
    left: 20px;
    text-decoration: none;
}

#refresh-popup {
    left: 50%;
    transform: translateX(-50%);
}

#refresh-popup:not(.show) {
  display: none;
}

.floating {
    position: fixed;
    color: rgb(71, 71, 71);
    padding: 15px;
    border-radius: 50px;
}

.topbar {
    top: 20px;
    box-shadow: rgb(116, 116, 116) 0px 2px 5px;
    text-transform: uppercase;
    cursor:pointer;
}

.bottombar {
    text-transform: lowercase;
    border: none;
    bottom: 20px;
}

#search {
    left: 230px;
    box-shadow: rgb(116, 116, 116) 0px 2px 5px;
}