@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body, html, *{
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Figtree", sans-serif;
    background-color: #1D143E;
}

#container {
    padding: 200px;
    display: flex;
}

#menu-container {
    flex-basis: 250px;
    margin: 0px 20px 20px 20px;
    box-shadow: rgb(16, 16, 17) 0px 5px 20px 0px;
}

.content-panel {
    flex-grow: 1;
    color: white;
    padding: 20px;
}

.menu-item {
    background-color: #473973;
    color: white;
    text-decoration: none;
    /* color: white; */
    display: block;
    padding: 20px;
    border-radius: 8px;
}
.menu-item.selected {
    background-color: #A5E6BA;
    color: black;
}

#menu:not(.open) .menu-item:not(.selected) {
    display: none;
}

#menu.open .menu-item .sub-menu-item {
    display: none;
}

#menu.open .menu-item {
    border-radius: 0px;
}

#menu.open .menu-item:first-child {
    border-radius: 8px 8px 0px 0px;
}

#menu.open .menu-item:last-child {
    border-radius: 0px 0px 8px 8px;
}

@media (max-width: 1000px) or (max-height: 700px) {
    /* Reset sidebar position */
    #menu-container {
        position: sticky;
        top: 0;
        margin: 0px 0px 20px 0px;
    }

    /* Reset display type and remove padding */
    #container {
        display: block;
        padding: 20px;
    }
}
