@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Figtree", sans-serif;
    background-color: rgb(20, 20, 20);
}

.tab-content {
    padding: 450px;
}

#playlists-content, #tracks-content {
    color: white;
}

#playlists-content > table, #tracks-content > table {
    color: white;
    width: 100%;
    table-layout: fixed;
    font-size: 1.2rem;
}

#playlists-content > table th:nth-child(3),
#playlists-content > table td:nth-child(3) {
    width: 200px;
    color: grey;
    text-align: right;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#playlists-content > table th:nth-child(1),
#playlists-content > table td:nth-child(1) {
    width: 20px;
}






#tracks-content > table th:nth-child(3),
#tracks-content > table td:nth-child(3) {
    color: grey;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tracks-content > table th:nth-child(2),
#tracks-content > table td:nth-child(2) {
    width: 250px;;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tracks-content > table th:nth-child(1),
#tracks-content > table td:nth-child(1) {
    width: 150px;
    color: grey;
    text-align: right;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 


#playlists-content:has(#playlists:not(.show))>#collapse-playlists::before {
    content: '▼ ';
}

#playlists-content:has(#playlists.show)>#collapse-playlists::before {
    content: '▲ ';
}

.track:not(.show) {
     color: rgb(202, 202, 202); 
    opacity: 20%;
}

#tracks {
    padding: 150px;
    columns: 3;
}

.playlist {
    color: black;
    margin: 5px;
    background-color: grey;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
}

.playlist.included {
    color: white;
    background-color: black;
}





#collapse-playlists {
    right: 20px;
}

#play {
    left: 130px;
    text-decoration: none;
}

#logout {    
    left: 20px;
    text-decoration: none;
}

#refresh-popup {
    left: 50%;
    transform: translateX(-50%);
}

#refresh-popup:not(.show) {
  display: none;
} */

.tab {
    background-color: rgb(245, 245, 245);
    position: fixed;
    padding: 10px;
    border-radius: 10px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.tab-item {
    float: left;
    padding: 10px 10px;
}

.tab-item.active {
    background-color: #ffffff;
    box-shadow: rgb(165, 165, 165) 0px 2px 5px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

#search-content > div {
    background-color: rgb(245, 245, 245);
    width: 60%;
    height: 20%;
    padding: 0px;
    position: fixed;
    border-radius: 10px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}