@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Figtree", sans-serif;
    background-color: rgb(20, 20, 20);
}

.tab-content {
    padding: 300px;
}

table {
    color: white;
    width: 100%;
    table-layout: fixed;
    font-size: 1.2rem;
}

table th:nth-child(1),
table td:nth-child(1) {
    width: 100px;
    color: grey;
    text-align: right;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table th:nth-child(2),
table td:nth-child(2) {
    width: 20px;
}

table th:nth-child(4),
table td:nth-child(4) {
    width: 100px;
    color: grey;
    text-align: right;
}

/* 


#playlists-content:has(#playlists:not(.show))>#collapse-playlists::before {
    content: '▼ ';
}

#playlists-content:has(#playlists.show)>#collapse-playlists::before {
    content: '▲ ';
}

.track:not(.show) {
     color: rgb(202, 202, 202); 
    opacity: 20%;
}

#tracks {
    padding: 150px;
    columns: 3;
}

.playlist {
    color: black;
    margin: 5px;
    background-color: grey;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
}

.playlist.included {
    color: white;
    background-color: black;
}





#collapse-playlists {
    right: 20px;
}

#play {
    left: 130px;
    text-decoration: none;
}

#logout {    
    left: 20px;
    text-decoration: none;
}

#refresh-popup {
    left: 50%;
    transform: translateX(-50%);
}

#refresh-popup:not(.show) {
  display: none;
} */

/* .floating {
    position: fixed;
    color: rgb(71, 71, 71);
    padding: 15px;
    border-radius: 50px;
}

.topbar {
    top: 20px;
    box-shadow: rgb(116, 116, 116) 0px 2px 5px;
    text-transform: uppercase;
    cursor:pointer;
} */


.tab {
    background-color: rgb(245, 245, 245);
    /* box-shadow: rgb(0, 0, 0) 0px 2px 15px; */
    position: fixed;
    padding: 10px;
    border-radius: 10px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Style the buttons inside the tab */
.tab-item {
    float: left;
    padding: 10px 10px;
}

/* Create an active/current tablink class */
.tab-item.active {
    background-color: #ffffff;
    box-shadow: rgb(204, 204, 204) 0px 2px 5px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

/* Style the tab content */
/* .tab-content {
  display: none;
} */